* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
}
html,
body,
#textarea {
  height: 100%;
}
.loading {
  display: none;
}
#textarea {
  font: 18px/1.7 'Droid Sans Mono', sans-serif;
  width: 100%;
  padding: 1% 15% 0;
  resize: none;
  vertical-align: top;
  color: #222;
}
#textarea.statusBarOn {
  height: calc(100% - 23px);
}
#status-bar {
  font-size: 14px;
  width: 100%;
  height: 23px;
  padding: 3px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  color: #666;
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  box-shadow: 0 -1px #f2f2f2;
}
@media print {
  #textarea {
    height: 100% !important;
    padding: 0 !important;
    color: #000 !important;
    background: transparent !important;
  }
  #status-bar {
    display: none;
  }
}
@font-face {
  font-family: 'Droid Sans Mono';
  src: url(DroidSansMono.woff);
}
